html {
    height: 100%;
    min-height: 100%;
    background-color: #dfdada;
    font-family: 'Nunito', sans-serif;
    margin: 50px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #333;
    align-items: center;
}

nav{
    display: flex;
    background-color: #267365;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
}

.navbar-brand{
  display: flex;
  justify-content: space-around;
}
.logo{
    padding-left: 30px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}
footer {
    margin-top: auto;
    text-align: center;
}

.content{
  width: 280px;
  margin: 80px auto;
}
h2{
  font-size: 36px;
  color: #e77a1b;
  font-weight: bold;
  text-align: center;
}

form{
  text-align: justify;
}

#login{
  width: 100%; 
  padding: 5% 7% 15% 7%;
  margin-top: auto;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189,0.8);
}
button{
  width: 100%;
  cursor: pointer;  
  background: #e77a1b;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff;  
  text-shadow: 0 1px 1px #333;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  align-items: flex-end;
}


table {
    border-collapse: collapse;
    border: 2px solid rgb(240, 102, 16);
    background-color: #83a19b;
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin-top: auto;
    width: 80%;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 8px 5px;
  }
  
  th {
    background-color: #c96a17;
  }
  
  td {
    text-align: center;
    padding-left: 20px;
  }
  


  tr:nth-child(even) td {
    background-color: rgb(114, 154, 138);
    text-align: center;
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(158, 181, 172);
    text-align: center;
  }